# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
myvenv/

# Environment Variables
.env

# Alembic cache
alembic/__pycache__/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/